<!doctype html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href = "@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form>
    <input type="email" placeholder="Deine E-Mail Adresse" />
    <input type="password" placeholder="Dein Passwort" />
    <input type="submit" value="Einloggen" />
</form>
</body>
</html>